<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>829332094489-9ongh1ejogkv076u8vuu8ombdcjc558o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829332094489-9ongh1ejogkv076u8vuu8ombdcjc558o</string>
	<key>API_KEY</key>
	<string>AIzaSyBgZqUBxg-UGFwIuwNF60IcEYnIMnnqfyo</string>
	<key>GCM_SENDER_ID</key>
	<string>829332094489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.deap.jkbx</string>
	<key>PROJECT_ID</key>
	<string>jukebox-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>jukebox-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829332094489:ios:55f868eb46b938be</string>
	<key>DATABASE_URL</key>
	<string>https://jukebox-ios.firebaseio.com</string>
</dict>
</plist>